<div style="margin-top: 20px">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Best Seller</h2>
    </div>
    <ul class="timeline">
      <li>
        <a href="../../assets/img/1.jpg" target="_blank">
          <div class="timeline-image">
            <img
              class="rounded-circle img-fluid"
              src="../../assets/img/1.jpg"
              alt="..."
            />
          </div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Pizza</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Consequatur corporis et asperiores quae sit obcaecati unde.
              Consectetur aspernatur repudiandae maxime. Earum harum nostrum
              quaerat fugiat sapiente neque debitis commodi nam.
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <a href="../../assets/img/2.jpg" target="_blank">
          <div class="timeline-image">
            <img
              class="rounded-circle img-fluid"
              src="../../assets/img/2.jpg"
              alt="..."
            />
          </div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Biryani</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Recusandae sunt explicabo iusto laudantium repellendus impedit
              tempora eos nulla iure, exercitationem, tenetur quasi similique,
              facere delectus soluta optio obcaecati beatae asperiores!
            </p>
          </div>
        </div>
      </li>
      <li>
        <a href="../../assets/img/3.jpg" target="_blank">
          <div class="timeline-image">
            <img
              class="rounded-circle img-fluid"
              src="../../assets/img/3.jpg"
              alt="..."
            />
          </div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Pasta</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae,
              non atque? Repellendus natus, perspiciatis non velit quam
              laudantium quibusdam iste accusantium sunt, ipsa labore vero,
              dolorum consequuntur corrupti itaque fugiat.
            </p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <a href="../../assets/img/4.jpg" target="_blank">
          <div class="timeline-image">
            <img
              class="rounded-circle img-fluid"
              src="../../assets/img/4.jpg"
              alt="..."
            />
          </div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Molten chocolate cake</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Accusamus sint labore quasi, corrupti officiis vero facere ad non
              pariatur ab et laudantium veniam? Non adipisci atque, debitis
              numquam illo eos?
            </p>
          </div>
        </div>
      </li>
      <!-- <li class="timeline-inverted">
        <div class="timeline-image">
          <h4>
            Be Part
            <br />
            Of Our
            <br />
            Cafe!
          </h4>
        </div>
      </li> -->
    </ul>
  </div>
</div>
